bin
plate_recognition.opensdf
plate_recognition.pro.user*
plate_recognition.sdf
plate_recognition.sln
plate_recognition.*.suo

auto_test_desktop/auto_test_desktop.vcxproj*
auto_test_desktop/debug
auto_test_desktop/release

plate_recog_lib/plate_recog_lib.vcxproj*
plate_recog_lib/debug
plate_recog_lib/release

qt_gui_test/qt_gui_test.vcxproj*
qt_gui_test/debug
qt_gui_test/release
qt_gui_test/ui_recog_test.h

train_neural_network/train_neural_network.vcxproj*
train_neural_network/debug
train_neural_network/release

